## Series

In [1]:
import pandas as pd

In [2]:
list1 = [1,2,3,4,5,6,7,8,10]

In [3]:
pd.Series(list1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8    10
dtype: int64

In [4]:
pd.Series(list1,name="Number")

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8    10
Name: Number, dtype: int64

In [5]:
pd.Series('a')

0    a
dtype: object

In [6]:
pd.Series('a',index=[1,2,3,4,5])

1    a
2    a
3    a
4    a
5    a
dtype: object

In [7]:
pd.Series({'a':1,"c":2,"e":3})

a    1
c    2
e    3
dtype: int64

In [8]:
s1=pd.Series([1,3,5,7,9])
s1

0    1
1    3
2    5
3    7
4    9
dtype: int64

## Slicing in Series

In [10]:
s1[3]

7

In [11]:
s1[1:5]

1    3
2    5
3    7
4    9
dtype: int64

In [12]:
max(s1)

9

In [13]:
min(s1)

1

In [14]:
s1[s1>3]

2    5
3    7
4    9
dtype: int64

In [15]:
s1+s1

0     2
1     6
2    10
3    14
4    18
dtype: int64

## DataFrame

In [16]:
list2=[{'a':1,'b':2,'c':3},{'a':11,'b':22,'c':33}]
list2

[{'a': 1, 'b': 2, 'c': 3}, {'a': 11, 'b': 22, 'c': 33}]

In [17]:
pd.DataFrame(list2)

    a   b   c
0   1   2   3
1  11  22  33

In [18]:
pd.DataFrame([1,3,42,12,43])

    0
0   1
1   3
2  42
3  12
4  43

In [19]:
dic = {'ID':[1,32,4,53,3,54,6,32]}
dic

{'ID': [1, 32, 4, 53, 3, 54, 6, 32]}

In [20]:
pd.DataFrame(dic)

   ID
0   1
1  32
2   4
3  53
4   3
5  54
6   6
7  32